/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
 }

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.headline{
    margin-left: 150px;
}
h2{font-size: 40px;
color: gray;
}

.head-peragraph{
    font-size: 13px;
font-weight: 20px;
}

.preebook-now{
    background-color:#E02C6D;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 35px;
    color: white;
    font-weight: 500;
}

.head{
    display: flex;
    margin-left: 260px;
    margin-top: 90px;
 
   
}
.half-width{
    padding-left: 18%;
}
.half-width img{
    width: 80%;
    padding-top: 25px;
}
.logos{
    display: flex;
    margin-left: 70px;
    
    
    border-image: linear-gradient(to right, rgba(250, 250, 253, 0.952), rgb(215, 197, 224) ,rgba(250, 250, 253, 0.952)) 1;
    border-bottom: 2px solid;
    border-top: 2px solid;
    
    
}

.logos>.image>img{
    height: 140px;
    width: 110px;
    padding-left: 130px;
    
}
/* ---------------------------collection section---------- */
.popular{text-align: center;}

.product{
    background-color: rgba(244, 248, 248, 0.925);
    width: 200px;
    border-radius: 5px;
    box-shadow: 3px 3px 20px grey;


}
.collection{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-row-gap: 30px;
    margin-left: 140px;
}
.collection a{
    color: #E02C6D;
    
  
}
.collection>.product>img{
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-left: 23px;
    border-radius: 5px;

}
.feature-product{
    display: flex;
    column-gap: 80px;
    margin-top: 80px;
    margin-left: 200px;
}
.gear img{height: 180px;
    width: 280px;

}
.pera a{
    background-color:#E02C6D;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 35px;
    color: white;
    font-weight: 500;
}
.footer{
    background-color: #9b95f0;
    margin-top: 70px;
    align-content: center;
}
.soc-icon>a>img{
    height: 25px;
   
    

  
    
}
.soc-icon{
    padding-left: 720px;
}

.copyright{
    text-align: center;
    padding-top: 10px;
}



















